```
# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.py.class
*.py.obj
*.py.out
*.py.o
*.py.a
*.py.so
*.py.dll
*.py.exe
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.zst
*.py.rar
*.py.sit
*.py.sitx
*.py.hqx
*.py.bin
*.py.dmg
*.py.img
*.py.iso
*.py.cdr
*.py.msi
*.py.apk
*.py.ipa
*.py.deb
*.py.rpm
*.py.scr
*.py.sys
*.py.vxd
*.py.ocx
*.py.dll
*.py.so
*.py.a
*.py.lib
*.py.o
*.py.obj
*.py.out
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.rar
*.py.sit
*.py.tar
*.py.tbz
*.py.tbz2
*.py.tgz
*.py.tlz
*.py.txz
*.py.zip
*.py.7z
*.py.gz
*.py.bz2
*.py.xz
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar......
```